{% extends "base_generic.html" %}

{% block content %}
    <h1>Title: {{ post.title }}</h1>
    {% if request.user == post.author %}

        <a href="{% url 'blog:post-update' post.id %}" class="btn btn-primary">Update</a>
        <a href="{% url 'blog:post-delete' post.id %}" class="btn btn-danger">Delete</a>
    {% endif %}
    <p><strong>Description:</strong> {{ post.description }} </p>
    <p><strong>Author:</strong> <a href="{% url 'blog:user-data' post.author_id %}">{{ post.author }}</a> </p>
    {% if post.image_field %}
        <img src="{{ post.image_field.url }}">
    {% endif %}
    <div style="margin-left:20px;margin-top:20px">
        <h4>Comments</h4>

        <ul>
            {% for comment in post.comment %}

                <li>
                    <p class="text-muted">{{ comment.username }}</p>
                    <p class="text-muted"> {{ comment.text }}</p>
                </li>

                {% if not forloop.last %}
                    <hr>
                {% endif %}
            {% empty %}
                <li>This post has no comments</li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}