{% extends "base_generic.html" %}

{% load static %}

{% block extra_js %}
    <script src="{% static 'js/comments.js' %}"></script>
{% endblock %}

{% block content %}
    <h1>Title: {{ post.title }}</h1>
    {% if request.user == post.author %}

        <a href="{% url 'blog:post-update' post.id %}" class="btn btn-primary">Update</a>
        <a href="{% url 'blog:post-delete' post.id %}" class="btn btn-danger">Delete</a>
    {% endif %}
    <p><strong>Description:</strong> {{ post.description }} </p>
    <p><strong>Author:</strong> <a href="{% url 'user_profile:user-data' post.author_id %}">{{ post.author }}</a></p>
    <p><strong>Created:</strong> {{ post.pubdate }} </p>
    {% if post.image_field %}
        <img src="{{ post.image_field.url }}">
    {% endif %}
    <div style="margin-left:20px;margin-top:20px">
        <h4>Comments</h4>

        <p>
            <button type="button" class="btn btn-primary js-create-comment"
                    data-url="{% url 'blog:post-comment' post.id %}">
                <span class="glyphicon glyphicon-plus"></span>
                New Comment
            </button>
        </p>

        <ul id="comment-table">
            {% with comments=page_obj %}
                <div>
                    {% include 'blog/includes/partial_comment_list.html' %}
                </div>
            {% endwith %}
        </ul>


    </div>

    <div class="modal fade" id="modal-form">
        <div class="modal-dialog">
            <div class="modal-content">

            </div>
        </div>
    </div>
{% endblock %}