{% extends "base_generic.html" %}

{% load static %}

{% block content %}
    <h1>Title: {{ post.title }}</h1>
    {% if request.user == post.author %}
        <a href="{% url 'blog:post-update' post.id %}" class="btn btn-primary">Update</a>
        <a href="{% url 'blog:post-delete' post.id %}" class="btn btn-danger">Delete</a>
    {% endif %}
    <p><strong>Description:</strong> {{ post.description }} </p>
    <p><strong>Author:</strong> <a href="{% url 'user_profile:user-data' post.author_id %}">{{ post.author }}</a></p>
    <p><strong>Created:</strong> {{ post.pubdate }} </p>
    {% if post.image_field %}
        <img src="{{ post.image_field.url }}">
    {% endif %}
    <div style="margin-left:20px;margin-top:20px">
        <h4>Comments</h4>

        <p>
            <button type="button" class="btn btn-primary js-create-comment"
                    data-url="{% url 'blog:post-comment' post.id %}">
                <span class="glyphicon glyphicon-plus"></span>
                New Comment
            </button>
        </p>

        <ul id="comment-table" class="infinite-container">
            {% with comments=page_obj %}
                    {% include 'blog/includes/partial_comment_list.html' %}
            {% endwith %}
        </ul>
        <div class="loading" style="display: none;">
            Loading...
        </div>

    </div>

    <div class="modal fade" id="modal-form-comment">
        <div class="modal-dialog">
            <div class="modal-content">

            </div>
        </div>
    </div>
{% endblock %}

{% block pagination %}
    {% if page_obj.has_next %}
        <a class="infinite-more-link" href="?page={{ page_obj.next_page_number }}"></a>
    {% endif %}

    <script>
        let infinite = new Waypoint.Infinite({
            element: $('.infinite-container')[0],
            onBeforePageLoad: function () {
                $('.loading').show();
            },
            onAfterPageLoad: function ($items) {
                $('.loading').hide();
            }
        });
    </script>
{% endblock %}