{% extends "base_generic.html" %}

{% block content %}
    <h1>Posts</h1>

    {% if post_list %}

        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Title</th>
                <th>Short Description</th>
                <th>Author</th>
            </tr>
            </thead>
            <tbody>
            {% for post in post_list %}
                <tr>
                    <td><a href={% url 'blog:post-detail' post.pk %}>{{ post.title }}</a></td>
                    <td>{{ post.short_description }}</td>
                    <td>{{ post.author }}</td>
                </tr>
                </tbody>
            {% endfor %}
        </table>



    {% else %}
        <p>There are no posts in db.</p>
    {% endif %}

{% endblock %}