{% extends "base_generic.html" %}

{% block content %}
    <h1>My Posts</h1>

    {% if posts %}
        <table class="table">
            <thead>
            <tr>
                <th>Title</th>
                <th>Short Description</th>
                <th>Is active?</th>
            </tr>
            </thead>
            <tbody>
            {% for post in posts %}
                <tr>
                    <td><a href="{% url 'blog:post-detail' post.pk %}">{{ post.title }}</a></td>
                    <td>{{ post.short_description }}</td>
                    <td>{{ post.is_active }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>You have no posts, would you like to <a href="{% url 'blog:post-create' %}">write the first one?</a></p>
    {% endif %}

{% endblock %}